*,html, body{
    
font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}

a:hover{
    cursor: pointer;
}
/* #button-addon2{
    cursor: not-allowed;
} */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    margin: 2px;
    height: 20vh;
}

#search{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

#results, #total{
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    height  : 25px;
}

#imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

#imgs img{
    height: 9.8vw;
    width: 9.8vw;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgComics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgComics img{
    width: 100px;
}

#modal-body, #more-modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#modal-body .imgComics, #more-modal-body .imgComics{
    max-width: 10vw;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#more-modal-body{
    display: none;
}
