#imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#imgs img{
    height: 9.8vw;
    width: 9.8vw;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgComics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgComics img{
    width: 100px;
}
#modal-body, #more-modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#modal-body .imgComics, #more-modal-body .imgComics{
    max-width: 10vw;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#more-modal-body{
    display: none;
}
